# Ignore symlinked config files in all packages
packages/*/tsconfig.base.json
packages/*/tsconfig.json
packages/*/tsconfig.build.json
packages/*/jsconfig.json

# Ignore all files in connector-lite
packages/connector-lite/**
