[workspace]
members = ["crates/*"]
resolver = "2"

[workspace.package]
version = "0.0.1"
edition = "2024"
rust-version = "1.91"
license = "Apache-2.0"
repository = "https://github.com/matter-labs/zksync-sso"

[profile.release]
opt-level = "s"   # Optimize for size instead of speed
lto = true        # Link Time Optimization - removes dead code
codegen-units = 1 # Single codegen unit for better optimization
panic = "abort"   # Smaller panic handling
strip = true      # Remove debug symbols

[workspace.dependencies]

# Alloy
alloy = { version = "1.0", default-features = false, features = [
    "rlp",
    "serde",
    "rpc-types",
    "rpc-types-eth",
    "signer-local",
    "contract",
    "provider-http",
    "reqwest",
    "network",
    "wasm-bindgen",
    "sol-types",
] }
alloy-dyn-abi = { version = "1.0", features = ["std", "eip712"] }
alloy-signer = { version = "1.0", features = ["eip712"] }
alloy-provider = { version = "1.0", features = ["default", "erc4337-api"] }

# Serialization
serde = { version = "1.0", features = ["derive"] }
serde_json = "1.0"

# Async
tokio = { version = "1", features = ["full"] }
async-trait = "0.1"
futures = "0.3"

# Error handling
eyre = "0.6"
thiserror = "2"

# Tracing/Logging
tracing = "0.1"
tracing-subscriber = { version = "0.3", features = ["env-filter"] }
log = "0.4"
# Logging for Android
android_logger = { version = "0.15" }
# Logging for Apple platforms
oslog = "0.2"

# Uniffi
uniffi = { version = "0.29" }

# CLI dependencies
clap = { version = "4.5", features = ["derive", "env"] }

# Web/WASM/JS dependencies
wasm-bindgen = "0.2"
wasm-bindgen-futures = "0.4"
web-sys = "0.3"
console_error_panic_hook = "0.1"
serde-wasm-bindgen = "0.6"
js-sys = "0.3"
console_log = "1.0"

# HTTP
reqwest = { version = "0.12", features = ["json"] }
url = "2.5.4"

# Random number generation for WASM
getrandom = { version = "0.2", features = ["js"] }

# Randomness
rand = "0.8"

# DER
der = { version = "0.7", features = ["alloc"] }
der_derive = "0.7"

# Base64
base64-url = "3.0.0"
base64 = "0.21"

# Test utils
wiremock = "0.6"
tempfile = "3"
strip-ansi-escapes = "0.2"
libc = "0.2"

# Misc
ureq = "2.10"
